section.highlight
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	div
		width: 300px
		height: 250px
		background-size: cover
		background-position: center
		box-shadow: 3px 3px 3px #8f8f8f
		display: flex
		flex-flow: column
		justify-content: center
		align-items: center

		h2	
			padding: 15px
			width: 50%
			font-size: 18px
			font-weight: lighter
			text-align: center
			background-color: white

	#highlight-one
		background-image: url(../img/photo-1.jpeg)
	#highlight-two
		background-image: url(../img/photo-2.jpeg)
	#highlight-three
		background-image: url(../img/photo-3.png)
